[submodule "External/Alamofire-SwiftyJSON"]
	path = External/Alamofire-SwiftyJSON
	url = https://github.com/SwiftyJSON/Alamofire-SwiftyJSON.git
[submodule "External/DrawerController"]
	path = External/DrawerController
	url = https://github.com/sascha/DrawerController
